body {
    font-family: Inter;
    background: #FFF;
}

.page-header{
    display: inline-flex;
    align-items: center;
    gap: 282px;
}

.page__page-header{
    margin-top: 34px;
    margin-left: 44px;
    display: inline-flex;
    align-items: center;
}

.page-header__name{
    display: flex;
    align-items: center;
    gap: 9px;
}

.page-header__title{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.page-header__navbar{
    display: flex;
    align-items: center;
    gap: 18px;
}

.page-header__navbar-item{
    color: #494949;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.page-header__navbar-item:hover{
    color: #000000;
}

.page-header__user-menu{
    display: flex;
    align-items: center;
    gap: 34px;
}

.user-menu__filter{
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter__text{
    color: #494949;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.filter__image{
    cursor: pointer;
}

.flag__image{
    cursor: pointer;
}

.sign-in__button{
    display: flex;
    padding: 7.5px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
    border: 0.25px solid #CBCBCB;
    background: rgba(217, 217, 217, 0.00);
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.sign-in__button:hover{
    background: rgba(217, 217, 217, 0.10);
}

.page-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.page__page-description{
    width: 100%;
    margin-top: 91px;
    display: flex;
    justify-content: center;
}

.page-description__bold-description{
    display: flex;
    align-items: center;
}

.bold-description__black{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
}

.bold-description__yellow{
    color: #FFBD59;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
}
.page-description__main-description{
    display: flex;
    justify-content: center;
}
.main-description__regular{
    color: #494949;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-description__bold{
    color: #494949;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.page-search-pets{
    display: flex;
    align-items: center;
}

.page__page-search-pets{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.page-search-pets__filter{
    display: flex;
    align-items: center;
    gap: 37px;
    padding: 7px;
    background: #E9E9E9;
}

.filter__pet-name{
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.filter__choice{
    cursor: pointer;
}

.page-search-pets__search{
    display: flex;
    align-items: center;
    padding: 4px;
    background: #F8F8F8;
    gap: 50px;
}

.search__placeholder{
    color: rgba(66, 66, 66, 0.36);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
}

.search__search-by-image{
    display: inline-flex;
    padding: 3px 7px;
    align-items: center;
    gap: 5px;
    color: #000;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.page-search-pets__search-button{
    margin-left: 10px;
}
.search-button{
    display: inline-flex;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 7px;
    background: #000;
    cursor: pointer;
}

.search-button__text{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.page-search-pets__frequent{
    display: flex;
    margin-left: 435px;
    margin-top: 8px;
}

.frequent__text-normal{
    color: #494949;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.frequent__text-underlined{
    color: #494949;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    cursor: pointer;
}

.page-category{
    margin-left: 44px;
    margin-top: 70px;
}

.category__name{
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.category__count{
    color: #494949;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.page__page-category{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-category__pet-image{
    display: flex;
    gap: 65px;
}

.pet__pet-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    cursor: pointer;
}

.page-category__pet{
    display: flex;
    gap: 65px;
}

.pet__pet-name{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.pet__pet-count{
    color: #494949;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

